@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=IBM+Plex+Serif:wght@300&family=Kalam:wght@300&family=Satisfy&family=Ysabeau+Infant:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');
body{
    background-color: black;
    color: white;
    margin: 0; 
}
/* ******************NAV CSS****************** */
#landingandNav{
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Images/miss-sloane.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* #772314 */
    height: 90vh;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: relative;
}
#imgSliderDiv{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: 0.3s;

}
#imgSliderDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    

}
#findMovieBtn{
    padding: 10px;
    font-size: 1.2rem;
    
}
#logo h1{
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: white;
    /* color: rgb(131, 19, 19); */
}

nav{
    width: 85%;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;


}
#tagline{
    font-family: 'Dancing Script', cursive;
    text-transform:lowercase;
    
}
#landingPage{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100vh;

}
#landingPage div{
    width: 70%;
    margin: auto;
    text-align: center;
}
#landingPage h4{
    font-size: 2.3rem;
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
#landingPage h1{
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #landingPage :nth-child(1){
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: auto;

}
#landingPage :nth-child(1) h2{
    text-transform: uppercase;
    width: 20rem;
    font-size: 3rem;

} */
em{
    font-style: normal;
    color: orangered; 
}
#movieSearch{
    padding: 10px;
    background-color: white;
    border-radius: 7px;
}
#navItems ul{
    display: flex;

}
#navItems ul li{
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    list-style: none;
    padding: 4.5px;
    margin: auto 4.5px;
    font-weight: bold;
    
    
}
#movieSearch{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}
/* ******************* BODY CSS ************************ */
a{
    text-decoration: none;
    color: orangered;
    padding: 5px;
    
}
.navlink{
    position: relative;
  }
.navlink:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: orangered;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}
 
.navlink:hover:after{
    width: 100%;
    left: 0;
    background: white;
  }

.movieDeets{
    font-size: 1rem;
    

}
#movieTitleDetails{
    font-size: 1.9rem;
}
#movieMenu{
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-family: 'IBM Plex Serif', serif;
}
#movieTitlesContainer{
    display: flex;
    flex: 1;
    width: 85%;
    margin:  0 auto;
    padding: 2rem 0.2rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    flex-wrap: wrap;
    justify-content: center;
}

.cardTitles{
     border: 1px white dotted; 
    margin: 10px 7px;
    border-radius: 10px;
    height: 250px;
    width: 350px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-color: rgb(26,44,54);  */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    transition: 0.3s;
    color: white;
    position: relative;


}
.cardTitles:hover{
    transform: scale(1.05);
    background: transparent;
    color: white;
    border: 1px solid white;
}

.cardTitles:hover h3{
    word-wrap: break-word;
    font-size: 1rem;
    color: white;  
}



.imgPoster{
    width: 100%;
    overflow: hidden;
    height: 70%;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;

    
}
.imgPoster img{
    object-fit: contain;
    padding-top: 10px;
    width: 98%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
}
#movieImage{
    height: 90%;
}
.deleteBtn{
    background-color: transparent;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: none;
}

/* ******************* BODY CSS ************************ */
#bodyTitle{
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 1rem;
    color: whitesmoke;
    font-weight: bold;

}
#bodyDiv{
   
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense; */
    display: flex;
    flex: 3;
    flex-direction: row;
    flex-wrap: wrap;
    margin:  auto;
    width: 90%;
    justify-content: space-around;
    align-items: top;


}
#movieMenuDiv{
    display: flex;
    margin-top: 1rem;
    

}
#movieCardDiv{
    position: relative ;
    border: 1px whitesmoke solid ;
    margin: 8px;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    height: 450px;
    overflow: hidden;

}
#movieTitleDiv{
    position:absolute;
    bottom: 10px;
}
#movieTitle{

    left: 20%;
    font-size: 1rem;
    font-family: 'IBM Plex Serif', serif;
    margin: 5px;
    text-align: center;

}
#imgDiv img{
    width: 90%;
    object-fit: contain;
    text-align: center;
    max-height: 80%;
}
#imgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#detailsBtnDiv{
    text-align: center;
    
}
#movieDetails{
    
    padding: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    
    margin: auto;
}
.movieDetails{
    background: transparent;
    border: none;
    color: white;
   text-decoration: underline;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
}
#movieDeetsContainer{
    position: relative;
    height: 73rem;

}
#soldOut{
    font-size: 7rem;
    position: absolute;
    top: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
    transform: rotate(-45deg);

}
#mainMoviesContainer{
    display: flex;
    
}



